({
    "name": "functional/gles3/es3fFragmentOutputTests",
    "out": "built.js",
    "baseUrl": ".",
    "optimize": "none",
    "logLevel": 0,
    "onBuildWrite": function(name, path, contents) {
            var nameSplit = name.split('/');
            var module = nameSplit[nameSplit.length - 1];
            contents = contents
                .replace( /define\(.*?,\[[\w\W\n]*?\],[\w\W\n]*?function[\w\W\n]*?{/m, "var " + module + " = (function() {")
                .replace(/\}\);[^}\w]*$/, "}());");
            var contentsSplit = contents.split('\n');
            
            var spaces = function(n) {
                var str = "";
                for (var i = 0; i < n; i++) str += " ";
                return str;
            };
            
            var result = "";
            for (var i = 0; i < contentsSplit.length; i++) {
                var line = contentsSplit[i];
                if (line.match(/\S/))
                    line = line.replace(/(\r\n|\n|\r)/gm, "") + spaces(100 - line.length) + " //" + (i + 1) + "\t" + module + "\n";
                    //line = line + "\t// " + name + " " + i + "\n";
                result += line;
            }
            contents = result;
            return contents;
        }
})

